In [34]:
import pandas as pd

In [35]:
# データの読み込み
df = pd.read_csv('wine-class.csv')

In [36]:
df.head()

,Class,Alcohol,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Color intensity,Hue,Proline
0,1,14.23,2.43,15.6,127,2.80,3.06,0.28,5.64,1.04,1065
1,1,13.20,2.14,11.2,100,2.65,2.76,0.26,4.38,1.05,1050
2,1,13.16,2.67,18.6,101,2.80,3.24,0.30,5.68,1.03,1185
3,1,14.37,2.50,16.8,113,3.85,3.49,0.24,7.80,0.86,1480
4,1,13.24,2.87,21.0,118,2.80,2.69,0.39,4.32,1.04,735

## 入力変数と教師データ(出力変数)

In [37]:
# df.iloc[行, 列]
t = df.iloc[:, 0]

In [62]:
# 一番目から最後まで
x = df.iloc[:, 1:]

In [63]:
x.shape

(178, 10)

In [64]:
type(x)

pandas.core.frame.DataFrame

In [41]:
# values → numpyの方に変換
# -1はchinerの性質上、0からはじめる必要がある
t = t.values -1
x = x.values

In [45]:
# 32bitに変換
x = x. astype('f')
t = t. astype('i')

In [46]:
x.dtype

dtype('float32')

In [47]:
t.dtype

dtype('int32')

## データ形式
タプルで(入力変数、教師データ)で渡す必要がある  
タプルで囲ったものをリスト化する必要がある

In [48]:
dataset = list(zip(x, t))

In [51]:
#dataset

## 訓練データと検証データに分割

In [53]:
import chainer

In [54]:
len(dataset)

178

In [57]:
n_train = int(len(dataset)*0.7)

In [58]:
train, test = chainer.datasets.split_dataset_random(dataset, n_train, seed=1)

In [60]:
len(train)

124

In [61]:
len(test)

54